@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

/* Component CSS */
html {
    scroll-behavior: smooth;
}

body {
    @apply font-poppins text-body-white scrollbar-thin scrollbar-thumb-primary-hover scrollbar-track-primary overflow-y-scroll;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    @apply bg-primary-hover text-body-white text-left p-2;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    @apply bg-body-white text-primary-hover;
}

.dropup-content a{
    @apply bg-primary-hover text-body-white text-left p-2 no-underline block text-xs;
}

.dropup-content a:hover{
    @apply bg-body-white text-primary-hover;
}

#page-header{
    @apply fixed top-0 z-50 transition duration-300 ease-in w-full;
}

#page-header.hide {
    @apply -top-56;
}

.dropdown2 {
    @apply relative md:hidden rounded-md text-sm border-2 border-primary-hover mx-4;
}
.dropdown2:hover .dropdown-list {
    @apply opacity-100 visible;
}
.dropdown-select {
    @apply px-4 py-2 w-full rounded-md bg-white flex items-center justify-between cursor-pointer text-primary-hover/50;
}
.dropdown-list {
    @apply text-sm overflow-hidden;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    transform: translateY(10px);
}
.dropdown-list:before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
.dropdown-list__item {
    @apply text-sm px-4 py-2 text-primary-hover hover:bg-primary-hover/30;
}
  
@tailwind utilities;

